/.DS_Store
/.vscode
/all.tex
/all_beamer.tex
/all_short.tex
/beamer
/codici
/commands.sty
/commands1.tex
/figs
/figure
/figures
/header-beamer.tex
/header-beamer_old.tex
/header-short.tex
/header.tex
/math.sty
/math_commands.tex
/mylapreprint.cls
/notes
/picins.sty
/short
/xkcdcols.sty